<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stockholmtorome">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StockholmToRome">
        <activity
            android:name=".TrainGif"
            android:exported="true" />
        <activity
            android:name=".FinalPage"
            android:exported="true" />
        <activity
            android:name=".LastChanceItaly"
            android:exported="true" />
        <activity
            android:name=".BorderControlItaly"
            android:exported="true" />
        <activity
            android:name=".BorderControlSwitzerland"
            android:exported="true" />
        <activity
            android:name=".LastChanceSwitzerland"
            android:exported="true" />
        <activity
            android:name=".LastChanceGermany"
            android:exported="true" />
        <activity
            android:name=".LastChanceDanmark"
            android:exported="true" />
        <activity
            android:name=".BorderControlGermany"
            android:exported="true" />
        <activity
            android:name=".Bordercontroll"
            android:exported="true" />
        <activity
            android:name=".Rome"
            android:exported="true" />
        <activity
            android:name=".Italy"
            android:exported="true" />
        <activity
            android:name=".Switzerland"
            android:exported="true" />
        <activity
            android:name=".Germany"
            android:exported="true" />
        <activity
            android:name=".Danmark"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>